# Ignore all by default, only explicitly whitelisted files/folders are tracked.
*

# Allow relevant folders
!/.sauce
!/android
!/integration_test
!/ios
!/lib
!/test

# Allow important project files
!.gitignore
!.metadata
!analysis_options.yaml
!Makefile
!README.md
!pubspec.lock
!pubspec.yaml

# Re-ignore files and folders that should not be tracked
# (copied from the original .gitignore)
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE-related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub-related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
